* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 3px;
}

body {
  font-family: "Orbitron";
  background-color: rgb(18, 18, 18);
  color: white;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

h2 {
  text-shadow: 1px 1px 3px #61dafb;
  font-weight: bold;
  text-align: center;
}

.square {
  background: black;
  color: white;
  text-shadow: 1px 1px 3px #61dafb;
  border: 1px solid #61dafb;
  float: left;
  font-size: 2rem;
  font-weight: bold;
  line-height: 34px;
  min-width: 82px;
  min-height: 82px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: black;
}

.game {
  min-height: 100vh;
}

.game-board {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  box-shadow: 0px 0px 5px #61dafb;
}

.game-info {
  /* margin-left: 20px; */
}
